<?php
#{{ ansible_managed }}
/**
 * This is an example of how a local.php could look like.
 * Simply copy the options you want to change from dokuwiki.php
 * to this file and change them.
 *
 * When using the installer, a correct local.php file be generated for
 * you automatically.
 */

$conf['useacl']      = '{{ dokuwiki_useacl }}';
$conf['openregister']= '{{ dokuwiki_openregister}}';
$conf['authtype']    = '{{ dokuwiki_authtype }}';
 
$conf['plugin']['authldap']['port']        = '{{ dokuwiki_ldap_port }}';
$conf['plugin']['authldap']['server']      = '{{ dokuwiki_ldap_server }}'; #instead of the above two settings
$conf['plugin']['authldap']['usertree']    = '{{ dokuwiki_ldap_usertree}}';  #'ou=People, dc=server, dc=tld'
$conf['plugin']['authldap']['grouptree']   = '{{ dokuwiki_ldap_grouptree }}'; #'ou=Group, dc=server, dc=tld'
$conf['plugin']['authldap']['userfilter']  = '{{ dokuwiki_ldap_userfilter }}'; #'(&(uid=%{user})(objectClass=posixAccount))'
$conf['plugin']['authldap']['groupfilter'] = '{{ dokuwiki_ldap_groupfilter}}'; #'(&(objectClass=posixGroup)(|(gidNumber=%{gid})(memberUID=%{user})))'
#$conf['authldap']['version']    = {{ dokuwiki_ldap_version }}; #3
